.mb-2 {
	margin-bottom: 0.5rem !important;
}

.mb-3 {
	margin-bottom: 1rem !important;
}

.ml-2 {
	margin-left: 0.5rem !important;
}

.pl-2 {
	padding-left: 0.5rem !important;
}

.pr-2 {
	padding-right: 0.5rem !important;
}

.w-50 {
	width: 50% !important;
}

.d-none {
	display: none !important;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-align-center {
	display: flex;
	align-items: center;
}
body::-webkit-scrollbar {
	width: 16px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: #f2f2f2; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
	background-color: #707070; /* color of the scroll thumb */
	border-radius: 6px; /* roundness of the scroll thumb */
	border: 2px solid #f2f2f2; /* creates padding around scroll thumb */
}
