@font-face {
	font-family: "IRANSans";
	src: local("IRANSans"), url("./Fonts/IRANSans.ttf") format("truetype");
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body {
	margin: 0;
	height: 100vh;
	direction: rtl;
	font-family: IRANSans, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fafafa;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
